.contenedorJ {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header			header   	header" "navbear		 main 	    main" "footer	 		footer 		footer";
}

.nav-juegos {
  display: grid;
  grid-area: navbear;
  margin-left: 25%;
}

.nav-filtros {
  display: flex;
  flex-direction: column;
  width: 10em;
}

.nav-filtros .nav-titulo {
  border-width: 9px 9px 9px 9px;
  border-style: hidden double hidden double;
  border-color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 1.5625em;
  font-weight: 580;
}

.nav-filtros .nav-acordion {
  margin: 10px 0;
  font-weight: 400;
  color: #000;
  font-size: 1.25rem;
  border-top: 1px solid black;
}

.nav-filtros .nav-acordion a {
  color: #000;
}

.nav-filtros .nav-acordion li {
  cursor: pointer;
  padding: 6px 10px;
  background-color: #fafafa;
}

.nav-filtros .nav-acordion li:hover {
  box-shadow: -5px 0px 31px 12px rgba(230, 229, 229, 0.98) inset;
  -webkit-box-shadow: -5px 0px 31px 12px rgba(230, 229, 229, 0.98) inset;
  -moz-box-shadow: -5px 0px 31px 12px rgba(230, 229, 229, 0.98) inset;
}

.nav-filtros summary {
  margin-top: 10px;
  cursor: pointer;
  background-color: #f0efef;
}

.nav-filtros summary:hover {
  box-shadow: inset 0px 0px 80px 18px rgba(161, 161, 161, 0.09);
}

.nav-filtros summary::before {
  content: "+";
  padding: 0 .5rem;
}

.nav-filtros summary:focus {
  border: 3px dashed #414141;
}

.nav-filtros details[open] summary::before {
  content: "-";
}

.main-juegos {
  display: grid;
  grid-area: main;
  margin-right: 25%;
}

.main-titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
  font-weight: 900;
  font-size: 1.25rem;
  border-width: 9px 9px 9px 9px;
  border-style: hidden double hidden double;
  border-color: #000;
}

.main-sub-articulo {
  display: flex;
  flex-wrap: wrap;
}

.main-sub-articulo .main-articulo {
  height: 25em;
  width: 12.5em;
  margin: 10px 15px;
  cursor: pointer;
  background-color: #fff;
}

.main-sub-articulo .main-articulo .articulo-descripcion {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 400;
  color: #000;
  font-size: 1.25rem;
}

.main-sub-articulo .main-articulo .main-img {
  position: relative;
}

.main-sub-articulo .main-articulo .main-img:hover .articulo-compra {
  display: flex;
}

.main-sub-articulo .main-articulo .main-img .articulo-compra {
  width: 90%;
  display: none;
  justify-content: center;
  position: absolute;
  margin: 0px 10px;
  left: 0;
  right: 0;
  bottom: 3.125em;
  background-color: #f0efef;
}

.main-sub-articulo .main-articulo .main-img .articulo-compra:hover {
  box-shadow: inset 0px 0px 80px 18px rgba(75, 74, 74, 0.09);
}

.main-sub-articulo .main-articulo .main-img .articulo-compra a {
  font-weight: 900;
  color: #000;
  font-size: 1.25rem;
}

.main-sub-articulo .main-articulo .main-img .articulo-compra a::after {
  content: "+";
  padding-left: 5px;
}

.main-sub-articulo .main-articulo .main-img img {
  height: 18.75em;
  width: 12.5em;
}

@media (max-width: 768px) {
  .contenedorJ {
    grid-template-areas: "header			header   	header" " navbear navbear navbear" "main main main" "footer	 		footer 		footer";
  }
  .nav-juegos {
    margin: 0;
    margin-top: 90px;
    justify-content: center;
  }
  .nav-juegos .nav-filtros {
    width: 100vw;
  }
  .nav-juegos .nav-filtros .nav-acordion summary, .nav-juegos .nav-filtros .nav-acordion li {
    display: flex;
    justify-content: center;
  }
  .main-juegos {
    width: 100%;
  }
  .main-juegos .main-sub-articulo {
    margin-left: 40px;
  }
}

@media (max-width: 425px) {
  .main-juegos .main-sub-articulo {
    margin: 0;
    justify-content: center;
  }
  .main-juegos .main-sub-articulo .main-articulo .main-img {
    position: unset;
  }
}

.contenedorA {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header			header   	header" "ayuda          ayuda       ayuda" "footer	 		footer 		footer";
}

.mainA {
  background-image: url(../img/Servicio-al-cliente.png);
  background-repeat: no-repeat;
  background-position: left;
  display: grid;
  grid-area: ayuda;
  justify-content: center;
}

.mainA .mainA-titulo {
  margin: 10px 0;
}

.buscar input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 5px;
  box-shadow: -1px 0px 1px rgba(66, 66, 66, 0.58);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
}

.buscar input:focus {
  outline: none;
}

.buscar .bton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.buscar .bton:hover {
  background-color: #f6f6f6;
}

.ArticuloAyuda {
  margin: 1.25rem 0;
  font-size: 1.1875rem;
}

.ArticuloAyuda .Articulo_titulo {
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  padding: 5px;
  margin: 0.9375rem 0;
}

.ArticuloAyuda .articulo-caja {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  height: 3.75rem;
  width: 31.25rem;
  margin-top: 2px;
  padding-left: 5px;
}

.ArticuloAyuda .articulo-caja:hover {
  transition: all 0.3s 0s ease;
  border-right: 8px solid #000;
}

.ArticuloAyuda .articulo-caja p {
  font-size: 0.9375rem;
}

.ArticuloAyuda .articulo-caja a {
  color: #000;
}

@media (max-width: 425px) {
  .mainA {
    margin-top: 90px;
  }
  .ArticuloAyuda .articulo-caja {
    width: inherit;
  }
}

.contenedorC {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header			header   	header" "contacto       contacto    contacto" "footer	 		footer 		footer";
}

.mainC {
  display: grid;
  grid-area: contacto;
  justify-content: center;
  background-image: url(../img/Servicio-al-cliente.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mainC-titulo {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.sub-form {
  display: flex;
  justify-content: space-between;
}

.informacion {
  background-color: #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.informacion .informacion-titulo {
  color: #fff;
}

.informacion .informacion-texto {
  font-size: 1.2em;
  line-height: 1.5rem;
  color: #868b8d;
  margin: 8px 0;
  padding: 10px;
}

.informacion iframe {
  border-radius: 10px;
  width: 100%;
  height: 90%;
}

.form-contacto {
  height: 60vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  font-size: 1.2rem;
}

.form-contacto input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 5px;
  box-shadow: -1px 0px 1px rgba(66, 66, 66, 0.58);
  text-shadow: 0px 0px 0px rgba(66, 66, 66, 0.75);
}

.form-contacto input:focus {
  outline: none;
}

.form-contacto .bton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.form-contacto .bton:hover {
  background-color: #f6f6f6;
}

@media (max-width: 1024px) {
  .sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-contacto {
    height: 50vh;
    border-radius: 5px;
    width: 70%;
  }
  .informacion {
    margin-top: 20px;
    width: 70%;
    height: 50vh;
  }
}

@media (max-width: 425px) {
  .mainC {
    margin-top: 90px;
  }
  .form-contacto {
    width: 90vw;
  }
  .informacion {
    width: 90vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  background-color: aliceblue;
  font-size: 16px;
}

body a {
  text-decoration: none;
}

body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- Grid ----------*/
.contenedor {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			header   	header" "destacado		destacado 	destacado" "contenido		contenido 	aside" "footer	 		footer 		footer";
}

/* ---------- HEADER ----------*/
.header {
  grid-area: header;
  padding: 1.25em;
  background: #fff;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.header .logo {
  margin-bottom: 1.25em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.header .logo .logo-img {
  height: 4.375em;
  object-fit: none;
}

.header .logo h1 {
  font-size: 1.875em;
}

.header .menu-icon img {
  height: 40px;
  width: 40px;
  display: none;
}

.header #check {
  display: none;
}

.header .menu {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
}

.header .menu a {
  padding: 0.625rem;
  color: #000;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 1.125rem;
}

.header .menu a:hover {
  background: #000;
  color: #fff;
}

/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
  grid-area: destacado;
  color: #fff;
  background-color: #000;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.articulo.destacado .contenedor-thumbnail {
  min-height: 100%;
  width: 100%;
}

.articulo.destacado .contenedor-thumbnail a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.destacado .titulo-destacado a {
  color: #fff;
}

.destacado .titulo-destacado::after {
  content: '';
  margin: 0.625em 0;
  display: block;
  background-color: #868b8d;
  width: 6em;
  height: 1px;
}

.btn-link {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 0.625em;
  background-color: #262626;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-end;
}

.btn-link:hover {
  background: #000;
  text-decoration: none;
}

/* ---------- Articulos ----------*/
.articulo {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.articulo .contenedor-thumbnail {
  width: 50%;
}

.articulo .contenedor-texto {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.articulo .contenedor-texto .titulo {
  margin-bottom: 10px;
  font-size: 1.5625em;
}

.articulo .contenedor-texto .titulo a {
  font-weight: 400;
  color: #000;
}

.articulo .contenedor-texto .subTitulo {
  font-size: 1em;
  color: #868b8d;
  margin-bottom: 0.625rem;
}

.articulo .contenedor-texto .extracto {
  font-size: 1.25em;
  line-height: 1.5625rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
  color: #868b8d;
}

/*---------- CONTENIDO ----------*/
.contenido {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 1.25rem;
}

/*---------- SIDEBAR ----------*/
.sidebar {
  padding: 5em 1.5625em;
  text-align: center;
  min-height: 6.25rem;
  grid-area: aside;
  background: #000;
  color: #868b8d;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.sidebar .acerca-de img {
  border-radius: 100%;
  height: 4.7em;
  width: 4.7em;
  margin-bottom: 1.5625rem;
}

.sidebar .acerca-de .bio {
  margin-bottom: 1.5625rem;
  font-size: 1.25em;
  line-height: 1.5625rem;
}

.sidebar .menu.mapa {
  display: inline-block;
}

.sidebar .menu.mapa a {
  padding: 1.5625rem;
  color: #fff;
  background-color: #000;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}

.sidebar .menu.mapa a:hover {
  background: #262626;
}

.sidebar .mapa {
  width: 37.5em;
  height: 25em;
  border-radius: 5%;
}

.sidebar .mapa iframe {
  width: inherit;
  height: inherit;
  border-radius: 5%;
}

/*---------- FOOTER ----------*/
.footer {
  background: #fff;
  font-size: 15px;
  grid-area: footer;
  padding: 1.5625rem;
  text-align: right;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.footer .logo-img {
  margin-top: -2.125rem;
  height: 4.375rem;
  object-fit: none;
}

.footer .redes ul {
  display: flex;
  justify-content: center;
}

.footer .redes ul li a {
  padding: 0.625rem;
  color: #000;
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  text-align: center;
  transition: 0.2s ease all;
  font-size: 1.125rem;
}

.footer .redes ul li a:hover {
  background: #000;
  color: #fff;
}

.footer .redes ul li .discord:hover {
  background: #404eed;
  color: #fff;
}

.footer .redes ul li .facebook:hover {
  background: #1877f2;
  color: #fff;
}

.footer .redes ul li .spotify:hover {
  background: #1ed760;
  color: #fff;
}

.footer .redes ul li .twitch:hover {
  background: #9147ff;
  color: #fff;
}

.footer .redes ul li .twitter:hover {
  background: #1d9bf0;
  color: #fff;
}

.footer .redes ul li .youtube:hover {
  background: #f00;
  color: #fff;
}

.footer .derechos {
  display: flex;
  margin-top: 0.625rem;
  margin-bottom: -1.5625rem;
  margin-left: -1.5625rem;
  margin-right: -1.5625rem;
  background-color: #000;
  color: #fff;
  justify-content: center;
  font-size: 0.91rem;
}

.footer .derechos ul {
  display: flex;
  padding: 0rem 2.5rem;
}

.footer .derechos ul li {
  padding: 0rem 0.3125rem;
}

.footer .derechos ul li a {
  color: #fff;
}

@media (max-width: 1440px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 0.1fr;
  }
  .contenedor .mapa {
    font-size: 60%;
  }
}

@media (max-width: 1024px) {
  .contenedor {
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header			header   	header" "destacado		destacado 	destacado" "contenido		contenido 	contenido" "aside aside aside" "footer	 		footer 		footer";
  }
  .sidebar .acerca-de {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .articulo.destacado {
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 1fr;
  }
  .articulo.destacado .contenedor-thumbnail {
    grid-row: 1/2;
  }
}

@media (max-width: 425px) {
  .footer img {
    display: none;
  }
  .footer .redes ul {
    flex-direction: column;
  }
  .checkbton {
    display: block;
  }
  .header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
  }
  .logo {
    display: flex;
    margin-left: -100px;
  }
  .header .menu {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 150%;
    left: 0%;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
  }
  .header .menu-icon img {
    display: block;
    cursor: pointer;
    position: relative;
    top: 20%;
    left: 70px;
  }
  #check:checked + .menu {
    bottom: 70%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
  .articulo.destacado {
    margin-top: 90px;
  }
  .sidebar .acerca-de {
    display: block;
  }
  .sidebar .mapa {
    width: auto;
  }
  .articulo {
    display: block;
  }
  .articulo .contenedor-thumbnail {
    width: 100%;
  }
}
