@mixin nav {
    padding: 0.625rem;
    color: $color2;
    display: block;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    transition: 0.2s ease all;
    font-size: 1.125rem;
    &:hover{
        background: $color2;
        color: $color1; 
    }   
}
@mixin nav_hover($color1,$color2){
    &:hover{
        background: $color2;
        color: $color1;
    }
}
@mixin titulo_border{
    border-width:9px 9px 9px 9px;
    border-style:hidden double hidden double;
    border-color:$color2;
}
@mixin input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 1px;
    box-shadow: -1px 0px 1px rgba(66,66,66,.58);
    text-shadow: 0px 0px 0px rgba(66,66,66,.75);
    &:focus{
        outline:none;
    }
}
@mixin bton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    &:hover{
        background-color:#f6f6f6;
    }
}