//Variables//
$Colorbg:aliceblue;
$color1:#fff;
$color2:#000;
$colorTex:#868b8d;
$colorDiscord:#404eed;
$colorFacebook:#1877f2;
$colorSpotify:#1ed760;
$colorTwitch:#9147ff;
$colorTwitter:#1d9bf0;
$colorYoutube:#f00;