@import "variables";
@import"juegos";
@import"mixin";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
}


body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    background-color: $Colorbg;
    font-size: 16px;
    a{text-decoration: none;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/* ---------- Grid ----------*/

.contenedor {
	width: 100%;
	max-width: 100%;
	display: grid;
	grid-gap: 1.25em;
	grid-template-columns: (1fr 1fr auto);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"header			header   	header"
		"destacado		destacado 	destacado"
		"contenido		contenido 	aside"
		"footer	 		footer 		footer";
}

/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	padding: 1.25em;
	background:$color1;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    .logo {
        margin-bottom: 1.25em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        .logo-img{
            height: 4.375em;
            object-fit: none;
        }
        h1 {
            font-size: 1.875em;
        }
    }
    .menu-icon img{
        height: 40px;
        width:40px ;
        display: none;
    }
    #check{
        display: none;
    }
    .menu {
        border-top: 1px solid $color2;
        border-bottom: 1px solid $color2;
        display: flex;
        justify-content: space-between;
        a {
            @include nav();
        }
        
    }
}
/* ---------- Articulo Destacado ----------*/
.articulo.destacado {
	grid-area: destacado;
	color: $color1;
	background-color: $color2;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
	display: grid;
	grid-template-columns: 1.3fr 1fr;
    .contenedor-thumbnail {
        min-height: 100%;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}

.destacado{
    .titulo-destacado{
        a{
            color: $color1;
        }
        &::after{
            content: '';
            margin: 0.625em 0;
            display: block;
            background-color: $colorTex;
            width: 6em;
            height: 1px;
        }
    }
}

.btn-link {
	color: $color1;
	cursor: pointer;
	display: inline-block;
	padding: 0.625em;
	background-color: #262626;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	align-self: flex-end;
    &:hover{
        background: $color2;
        text-decoration: none;
    }
}
/* ---------- Articulos ----------*/
.articulo {
	display: flex;
	background: $color1;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    .contenedor-thumbnail {
        width: 50%;
    }
    .contenedor-texto {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .titulo {
            margin-bottom: 10px;
            font-size: 1.5625em;
            a {
                font-weight: 400;
                color: $color2;
            }
        }
        .subTitulo {
            font-size: 1em;
            color: $colorTex;
            margin-bottom: 0.625rem;
        }
        .extracto {
            font-size: 1.25em;
            line-height: 1.5625rem;
            font-weight: 300;
            margin-bottom: 1.25rem;
            color: $colorTex;
        }
    }
}

/*---------- CONTENIDO ----------*/

.contenido {
	grid-area: contenido;
	display: grid;
	grid-template-columns: 1;
	grid-gap: 1.25rem;
}

/*---------- SIDEBAR ----------*/

.sidebar {
	padding: 5em 1.5625em;
	text-align: center;
	min-height: 6.25rem;
	grid-area: aside;
	background: $color2;
	color: $colorTex;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    .acerca-de{
        img{
            border-radius: 100%;
            height: 4.7em;
            width: 4.7em;
            margin-bottom: 1.5625rem;
        }
        .bio {
            margin-bottom: 1.5625rem;
            font-size: 1.25em;
            line-height: 1.5625rem;
        }
    }
    .menu.mapa{
        display: inline-block;
        a{
            padding: 1.5625rem;
            color: $color1;
            background-color: $color2;
            display: block;
            font-size: 1rem;
            text-transform: uppercase;
            &:hover{
                background: #262626;

            }
        }
    }
    .mapa{
        width: 37.5em;
        height: 25em;
        border-radius: 5%;
            iframe{
                width: inherit;
                height: inherit;
                border-radius: 5%;

            }
    }
}
/*---------- FOOTER ----------*/
.footer {
	background: $color1;
	font-size: 15px;
	grid-area: footer;
	padding: 1.5625rem;
	text-align: right;
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
    .logo-img{
        margin-top: -2.125rem;
        height: 4.375rem;
        object-fit: none;
    }
    .redes{
        ul{
            display: flex;
            justify-content: center;
            li{
                a{
                    @include nav()

                }
                .discord{
                    @include nav_hover($color1,$colorDiscord);
                }
                .facebook{
                    @include nav_hover($color1,$colorFacebook);
                }
                .spotify{
                    @include nav_hover($color1,$colorSpotify);
                }
                .twitch{
                    @include nav_hover($color1,$colorTwitch);
                }
                .twitter{
                    @include nav_hover($color1,$colorTwitter);
                }
                .youtube{
                    @include nav_hover($color1,$colorYoutube);
                }
                
            }
        }

    }
    .derechos{
        display: flex;
        margin-top: 0.625rem;
        margin-bottom: -1.5625rem;
        margin-left: -1.5625rem;
        margin-right: -1.5625rem;
        background-color: $color2;       
        color: $color1;
        justify-content: center;
        font-size: 0.91rem;
        ul{
            display:flex ;
            padding: 0rem 2.5rem;
            li{
                padding: 0rem 0.3125rem;
                a{
                    color:$color1;
                }
            }
        }        
    }
}
@media (max-width: 1440px){
    .contenedor {
        grid-template-columns: (1fr 1fr .1fr);
        .mapa {
            font-size: 60%;
        }
    }
}
@media (max-width: 1024px){
    .contenedor {
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "header			header   	header"
            "destacado		destacado 	destacado"
            "contenido		contenido 	contenido"
            "aside aside aside"
            "footer	 		footer 		footer";
    }
    .sidebar{
        .acerca-de{
            display: flex;
            justify-content: center;
        }

    }
}
@media (max-width: 768px){
    .articulo.destacado {
        grid-template-rows: 1fr .5fr;
        grid-template-columns: 1fr;
        .contenedor-thumbnail{
            grid-row: 1/2;
        }
    }

}
@media (max-width: 425px){
    .footer {
        img{
            display: none;
        }
        .redes ul{
            flex-direction: column;
        }
    }
    .checkbton{
        display: block;
    }
    .header{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    .logo{
        display: flex;
        margin-left: -100px;
    }

    .header .menu{
        display: block;
        position: fixed;
        width: 100%;
        bottom: 150%;
        left: 0%;
        background-color: $color1;
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
        transition: clip-path 1s ease-in-out;

    }
    .header .menu-icon img{
        display: block;
        cursor: pointer;
        position: relative;
        top: 20%;
        left: 70px;
    }
    #check:checked + .menu{
        bottom: 70%;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);

    }
    .articulo.destacado{
        margin-top: 90px;
    }

    .sidebar .acerca-de{
        display: block;
    }
    .sidebar .mapa{
        width: auto;
    }

    .articulo {
        display: block;
        .contenedor-thumbnail {
            width: 100%;
        }
    }

}